
.Top-Container 
{
    width: 100%;
    // height: 500px;
    display: flex;
    position: relative;
}
.Right-Side 
{   
    position: fixed;
    z-index: 2;
    background-color: rgb(241, 239, 239);
    width: 100%;
    height: 300px;
    vertical-align: auto;
    text-align: center;
    //font-size: 100px;
    //padding-top: 200px;
    .svg
    {
        padding-top: 0px;
    }
}

.bottom {

    height: 1000px;
    margin-top: 300px;
    background-color: rgb(241, 239, 239);
}
.bottom-two {
    height: 3500px;
    background-color: rgb(241, 239, 239);
}
.block {
    position: absolute;
    z-index: 1;
    right: -1135px;
    background-color: rgba(61, 151, 187, 0.23);
    height: 600px;
    max-width: 55%;
    width: 1135px;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 1s;
}
.block-border {
    position: absolute;
    right: 0;
    background-color: rgb(241, 239, 239);
    margin-top: 5px;
    height: 590px;
    max-width: 99%;
    width: 1135px;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
}
.shape-outside {
    shape-outside: polygon(45% 0, 39% 14%, 39% 35%, 29% 35%, 0 100%, 0 0);
    shape-margin: 5px;
    width: 100%;
    height: 100%;
    float: left;
}
.shape-outside-two {
    shape-outside: polygon(0 0, 80% 0, 0% 100%, 0 100%);
    shape-margin: 5px;
    width: 100%;
    height: 100%;
    float: left;
}

.inside-tab {
    position: absolute;
    right: 62%;
    top: 11%;
    background-color: rgba(61,151,187,0.23);
    width: 125px;
    height: 140px;
    z-index: 200;
    .fa-angle-right {
        position: absolute;
        top: 70%;
        left: 70%;
        transform: scale(3) rotateZ(45deg);
        color: rgb(241, 239, 239);
    }
    .tab-relative{
        position: relative;
    }
}
.tab-container {
    background-color: rgb(241, 239, 239);
   width: 400px;
   height: 400px;
   position: absolute;
   bottom: 42px;
   right: 42px;
   transition: 2s;
   .fa-angle-left {
        position: absolute;
        right: 35px;
        bottom: 30px;
        transform: scale(3) rotateZ(45deg);
        color: rgba(61,151,187,0.23);
    }
    span {
        position: absolute;
        display: block;
        box-sizing: border-box;
        background: rgba(61,151,187,0.23);
    }
    .border-right
    {
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        animation: borderRight 3s linear;
    }
    .border-bot
    {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        animation: borderBot 3s linear;
    }
}
@keyframes borderBot {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    100%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
}
@keyframes borderRight {
    0% {
    transform:scaleY(0);
    transform-origin: top;
    }
    100%
    {
      transform:scaleY(1);
    transform-origin: top;
    }
}
.inside-tab:hover .fa-angle-right{
animation: tabHover 1s infinite;
}
@keyframes tabHover {
    from {  top: 70%;
            left: 70%; 
    }
    50%  {  top: 75%;
            left: 75%; 
    }
    100% {  top: 70%;
            left: 70%; 
    }
}
.tab-container-click {
    bottom: -172px;
    right: -172px;
}


.content-one-block {
    top: 1300px;
}
.content-two-block {
    top: 2600px;
}
.content-three-block {
    top: 3900px;
}
.slide {
   right: 0px;
}

.text {
    position: absolute;
    padding-top: 100px;
    font-size: 100px;
    text-align: center;
 
}

.svg-container {
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    svg {
        overflow: visible;
    }
    .svg-archery {
        position: absolute;
        bottom: 0;
    }
    .archer-container{
        left: 0;
    }
    .target-container{
        right: 0;
    }
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 100%;
    .fade{
        width: 100%;
        height: 100%;
        position: absolute;
        div{
            width: 100%;
            height: 100%;
        }
    }
}
.tab-content{
    width: 100%;
    height: 100%;
}
// .tab-content-one{
//     background-color: red;
//     display: none;
// }
// .tab-content-two{
//     background-color: green;
//     display: none;
// }
// .tab-content-three{
//     background-color: blue;
//     display: none;
// }
.tab-content-one{
    background-color: white;
    display: none;
    h3{
        margin-block-start: 0px;
        padding-top: 130px
    }
}
.tab-content-two{
    background-color: white;
    display: none;
    h3{
        margin-block-start: 0px;
        padding-top: 130px
    }
}
.tab-content-three{
    background-color: white;
    display: none;
    h3{
        margin-block-start: 0px;
        padding-top: 130px
    }
}